{{!--
	Reset password template

	@since 0.10.0
--}}
{{> head }}
{{> body heading=heading }}
	<h2>{{#i18n}}Reset your password{{/i18n}}</h2>
	<p>{{#i18n}}Hi,{{/i18n}}</p>
	<p>{{#i18n}}Your password has changed.{{/i18n}}</p>
{{> footer }}
