{{!--
	Resend password template

	@since 0.10.0
--}}
{{> head }}
{{> body heading=heading }}
	<h2>{{#i18n}}Reset your password{{/i18n}}</h2>
	<p>{{#i18n}}Hi,{{/i18n}}</p>
	<p>{{#i18n}}You forgot your password, please click on the follow button or copy the link directly in your browser.{{/i18n}}</p>
	<p><a href="{{ activation_url }}" class="btn btn-primary">{{#i18n}}Reset password{{/i18n}}</a></p>
	<p class="notification">{{ activation_url }}</p>
	<p>{{#i18n}}If you haven't request it, please ignore this email.{{/i18n}}</p>
{{> footer }}
